amqp==5.1.1
asgiref==3.8.1
async-timeout==4.0.3
billiard==4.2.0
celery==5.3.4
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.5
Django==4.2.16
django-celery-beat==2.5.0
django-timezone-field==6.1.0
kombu==5.3.4
prompt-toolkit==3.0.47
psycopg2-binary==2.9.9
python-crontab==3.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.1
six==1.16.0
sqlparse==0.4.4
typing-extensions==4.11.0
tzdata==2024.2
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.8.0