{% extends 'core/base.html' %}

{% block head_title %}Banking System{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md w-full bg-white shadow-md rounded-lg px-8 py-6">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4" role="alert">
                    <p class="font-bold">Error!</p>
                    <p>{{ error }}</p>
                </div>
            {% endfor %}
        {% endif %}
        <h1 class="text-3xl font-bold text-center mb-6">Sign In</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">{{ field.label }}</label>
                    {% if field.field.widget.input_type == 'password' %}
                        <input
                            type="password"
                            name="{{ field.name }}"
                            id="{{ field.id_for_label }}"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            {% if field.name == 'username' %}value="banking@online.com"{% endif %}
                        >
                    {% else %}
                        <input
                            type="{{ field.widget.input_type }}"
                            name="{{ field.name }}"
                            id="{{ field.id_for_label }}"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            {% if field.name == 'password' %}value="123456"{% endif %}
                        >
                    {% endif %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="text-red-600 text-sm italic mt-1">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="mb-4 text-center text-gray-600">
                <p>Use demo account </br>Email: <strong>banking@online.com</strong></br> Password: <strong>123456</strong></p>
            </div>
            <div class="flex items-center justify-center mt-6">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Sign In
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
