<footer style="position: fixed; bottom: 0; width: 100%; background-color: #f3f4f6; border-top: 1px solid #d2d6dc;"
    class="footer">
    <div class="container mx-auto px-6 py-2">
        <div class="flex items-center justify-center">
            <p class="text-sm text-gray-700">
                © <a href="https://github.com/dennismbugua/banking-system" target="_blank"
                    class="font-semibold text-gray-900 hover:text-teal-600">Souce Code</a>
            </p>
        </div>
    </div>
</footer>