{% extends 'core/base.html' %}

{% block head_title %}Your Online Bank of Choice{% endblock %}

{% block content %}
<div class="container mx-auto flex flex-col md:flex-row items-center justify-center my-12 md:my-24">
    <!-- Left Column -->
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-center md:items-start pt-12 pb-24 px-6">
        <h1 class="font-bold text-4xl text-gray-800 mb-4">Welcome to Online Banking</h1>
        <p class="text-lg text-gray-600 mb-6 max-w-md text-center md:text-left">
            Making your financial life simpler and more secure.
        </p>
        <a href="{% url 'accounts:user_registration' %}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded shadow hover:shadow-lg focus:outline-none focus:shadow-outline">
            Create an Account
        </a>
    </div>
    <!-- Right Column -->
    <div class="w-full lg:w-1/2 lg:py-6 text-center">
        <h1 style="font-size: 15rem; color: #F59E0B;" class="font-black">KES</h1>
    </div>
</div>
{% endblock %}